/ {
    aliases {
        enc10sw = &enc10sw;
        enc10a = &enc10a;
        enc10b = &enc10b;
        enc13sw = &enc13sw;
        enc13b = &enc13b;
        enc13a = &enc13a;
        enc14sw = &enc14sw;
        enc14b = &enc14b;
        enc14a = &enc14a;
        mux0 = &cd4067_0;
        mux1 = &cd4067_1;
        mux2 = &cd4067_2;
        mux3 = &cd4067_3;
    };

    encoder_inputs: encoder_inputs {
        compatible = "gpio-keys";

        enc10sw: enc10sw_gpio {
            gpios = <&gpiob 2 GPIO_ACTIVE_LOW>;
        };

        enc10a: enc10a_gpio {
            gpios = <&gpiob 1 GPIO_ACTIVE_LOW>;
        };

        enc10b: enc10b_gpio {
            gpios = <&gpiob 15 GPIO_ACTIVE_LOW>;
        };

        enc13sw: enc13sw_gpio {
            gpios = <&gpiob 13 GPIO_ACTIVE_LOW>;
        };

        enc13b: enc13b_gpio {
            gpios = <&gpioc 2 GPIO_ACTIVE_LOW>;
        };

        enc13a: enc13a_gpio {
            gpios = <&gpioc 3 GPIO_ACTIVE_LOW>;
        };

        enc14sw: enc14sw_gpio {
            gpios = <&gpioc 0 GPIO_ACTIVE_LOW>;
        };

        enc14b: enc14b_gpio {
            gpios = <&gpioc 1 GPIO_ACTIVE_LOW>;
        };

        enc14a: enc14a_gpio {
            gpios = <&gpioh 0 GPIO_ACTIVE_LOW>;
        };
    };

    cd4067_0: cd4067_mux {
        compatible = "vnd,cd4067-gpio-mux";
        status = "okay";
        select-gpios = <&gpiob 5 GPIO_ACTIVE_HIGH>,
                       <&gpiob 4 GPIO_ACTIVE_HIGH>,
                       <&gpiob 10 GPIO_ACTIVE_HIGH>,
                       <&gpioa 8 GPIO_ACTIVE_HIGH>;
        sig-gpios = <&gpioa 0 GPIO_ACTIVE_HIGH>;
    };

    cd4067_1: cd4067_mux_1 {
        compatible = "vnd,cd4067-gpio-mux";
        status = "okay";
        select-gpios = <&gpiob 5 GPIO_ACTIVE_HIGH>,
                       <&gpiob 4 GPIO_ACTIVE_HIGH>,
                       <&gpiob 10 GPIO_ACTIVE_HIGH>,
                       <&gpioa 8 GPIO_ACTIVE_HIGH>;
        sig-gpios = <&gpioa 1 GPIO_ACTIVE_HIGH>;
    };

    cd4067_2: cd4067_mux_2 {
        compatible = "vnd,cd4067-gpio-mux";
        status = "okay";
        select-gpios = <&gpiob 5 GPIO_ACTIVE_HIGH>,
                       <&gpiob 4 GPIO_ACTIVE_HIGH>,
                       <&gpiob 10 GPIO_ACTIVE_HIGH>,
                       <&gpioa 8 GPIO_ACTIVE_HIGH>;
        sig-gpios = <&gpioa 4 GPIO_ACTIVE_HIGH>;
    };

    cd4067_3: cd4067_mux_3 {
        compatible = "vnd,cd4067-gpio-mux";
        status = "okay";
        select-gpios = <&gpiob 5 GPIO_ACTIVE_HIGH>,
                       <&gpiob 4 GPIO_ACTIVE_HIGH>,
                       <&gpiob 10 GPIO_ACTIVE_HIGH>,
                       <&gpioa 8 GPIO_ACTIVE_HIGH>;
        sig-gpios = <&gpiob 0 GPIO_ACTIVE_HIGH>;
    };
};

&i2c1 {
    status = "okay";

    pca9685_40: pca9685@40 {
        status = "okay";
        compatible = "nxp,pca9685-pwm";
        reg = <0x40>;
        #pwm-cells = <3>;
    };

    pca9685_41: pca9685@41 {
        status = "okay";
        compatible = "nxp,pca9685-pwm";
        reg = <0x41>;
        #pwm-cells = <3>;
    };

    pca9685_42: pca9685@42 {
        status = "okay";
        compatible = "nxp,pca9685-pwm";
        reg = <0x42>;
        #pwm-cells = <3>;
    };

    pca9685_43: pca9685@43 {
        status = "okay";
        compatible = "nxp,pca9685-pwm";
        reg = <0x43>;
        #pwm-cells = <3>;
    };

    pca9685_44: pca9685@44 {
        status = "okay";
        compatible = "nxp,pca9685-pwm";
        reg = <0x44>;
        #pwm-cells = <3>;
    };

    pca9685_45: pca9685@45 {
        status = "okay";
        compatible = "nxp,pca9685-pwm";
        reg = <0x45>;
        #pwm-cells = <3>;
    };

    pca9685_46: pca9685@46 {
        status = "okay";
        compatible = "nxp,pca9685-pwm";
        reg = <0x46>;
        #pwm-cells = <3>;
    };

    pca9685_47: pca9685@47 {
        status = "okay";
        compatible = "nxp,pca9685-pwm";
        reg = <0x47>;
        #pwm-cells = <3>;
    };

    pca9685_48: pca9685@48 {
        status = "okay";
        compatible = "nxp,pca9685-pwm";
        reg = <0x48>;
        #pwm-cells = <3>;
    };

    pca9685_49: pca9685@49 {
        status = "okay";
        compatible = "nxp,pca9685-pwm";
        reg = <0x49>;
        #pwm-cells = <3>;
    };

    pca9685_4a: pca9685@4a {
        status = "okay";
        compatible = "nxp,pca9685-pwm";
        reg = <0x4a>;
        #pwm-cells = <3>;
    };

    pca9685_4b: pca9685@4b {
        status = "okay";
        compatible = "nxp,pca9685-pwm";
        reg = <0x4b>;
        #pwm-cells = <3>;
    };

    pca9685_4c: pca9685@4c {
        status = "okay";
        compatible = "nxp,pca9685-pwm";
        reg = <0x4c>;
        #pwm-cells = <3>;
    };
};
